<p id="notice"><%= notice %></p>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h2 class="cover-heading"><%= @interviews %></h2>
      </div>
    </div>
    <%= link_to "Next Question", class: "btn btn-defaul" %>
  </div>
</div>