<p id="notice"><%= notice %></p>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h2 class="cover-heading"><%= @random_question.question %></h2>
      </div>
      <br>
      <%= link_to 'Pro Tips', "#", class: 'btn btn-success' %>      
      <%= link_to 'Keep Going', interviews_path, class: 'btn btn-default' %>      
    </div>
  </div>
</div>



