<p id="notice"><%= notice %></p>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h2 class="cover-heading"><%= @random_question.question %></h2>
      </div>
    </div>
  </div>
</div>



