<p id="notice"><%= notice %></p>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <% for interview in @interviews %>
          <h2 class="cover-heading"><%= interview.question %></h2>
        <% end %>
      </div>
    </div>
    <%= will_paginate @interviews, :page_links => false %>
  </div>
</div>



