// Place all the styles related to the interviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interviews {

	/* Extra markup and styles for table-esque vertical and horizontal centering */
	.site-wrapper {
	  display: table;
	  width: 100%;
	  height: 100%; /* For at least Firefox */
	  min-height: 100%;
	  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	}
	.site-wrapper-inner {
	  display: table-cell;
	  vertical-align: top;
	}
	.cover-container {
	  margin-right: auto;
	  margin-left: auto;
	}

	/* Padding for spacing */
	.inner {
	  padding: 30px;
	}


	/*
	 * Cover
	 */

	.cover {
	  padding: 0 20px;
	}
	.cover .btn-lg {
	  padding: 10px 20px;
	  font-weight: bold;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
	  vertical-align: middle;
	}


	/*
	 * Footer
	 */

	.mastfoot {
	  color: #999; /* IE8 proofing */
	  color: rgba(255,255,255,.5);
	}


	/*
	 * Affix and center
	 */

	@media (min-width: 768px) {
	  /* Pull out the footer */
	  .mastfoot {
	    position: fixed;
	    bottom: 0;
	  }

	  /* Handle the widths */
	  .masthead,
	  .mastfoot,
	  .cover-container {
	    width: 100%; /* Must be percentage or pixels for horizontal alignment */
	  }
	}

	@media (min-width: 992px) {
	  .masthead,
	  .mastfoot,
	  .cover-container {
	    width: 700px;
	  }
	}

	
}