// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Move down content because we have a fixed navbar that is 50px tall */
.welcome {
	// body {
	//   padding-top: 50px;
	//   padding-bottom: 20px;
	// }

	// .question	{
	// 	margin-top: 150px;
	// 	text-align: center;
	// }
}



// Todos:
// move footer to the bottom of the page
// 	